MFPA_DATA_DIR=data
MFPA_OUTPUTS_DIR=outputs
MFPA_CONFIG_DIR=configs
MFPA_EMBEDDING_MODEL=Linq-AI-Research/Linq-Embed-Mistral
MFPA_TOPIC_SENTENCE_MODEL=distiluse-base-multilingual-cased-v2
MFPA_SPACY_MODEL_LARGE=pt_core_news_lg
MFPA_SPACY_MODEL_SMALL=pt_core_news_sm
